{extends file="../base.html"}

{block name="meta"}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{/block}

{block name="import"}
<script src="{$smarty.const.URL_PUBLIC_PATH}/matadmin/js/jquery.min.js"></script>
<link rel="stylesheet" href="{$smarty.const.URL_PUBLIC_PATH}/matadmin/css/bootstrap.min.css" />
<link rel="stylesheet" href="{$smarty.const.URL_PUBLIC_PATH}/matadmin/css/bootstrap-responsive.min.css" />
<link href="{$smarty.const.URL_PUBLIC_PATH}/matadmin/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

<script src="{$smarty.const.URL_PUBLIC_PATH}/js/md5.js"></script>

<script src="{$smarty.const.URL_PUBLIC_PATH}/plugin/notify/jquery.ui.custom.js"></script>
<link href="{$smarty.const.URL_PUBLIC_PATH}/plugin/notify/jquery.gritter.css" rel="stylesheet" />
<script src="{$smarty.const.URL_PUBLIC_PATH}/plugin/notify/jquery.gritter.min.js"></script>

<link rel="stylesheet" href="{$smarty.const.URL_PUBLIC_PATH}/css/modules/admin/member/login.css" />
<script src="{$smarty.const.URL_PUBLIC_PATH}/js/modules/admin/member/login.js"></script>

{/block}

{block name="body"}
<span class="mist_assigned_box" id="message_box_login">{$login_message}</span>

<div id="loginbox">
    <form id="loginform" class="form-vertical" method="post" action="{U url='admin/member/public/login' mode='1'}">
        <div class="control-group normal_text">
            <h3>
                <img src="{$smarty.const.URL_PUBLIC_PATH}/matadmin/img/logo.png" alt="Logo" />
            </h3>
        </div>

        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_lg"><i class="icon-user"></i></span>
                    <input type="text" id="username" placeholder="用户名" />
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_ly"><i class="icon-lock"></i></span>
                    <input type="password" id="password" placeholder="密码" />
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <!--<div class="main_input_box">-->
                    <img id="verifyimg" src="{U url='admin/member/public/verify' mode='1'}" alt="点击切换" />
                    <input type="text" name="verify" id="verify" placeholder="验证码" />
                <!--</div>-->
            </div>
        </div>

        <div class="form-actions">
            <span class="pull-left">
                <a href="#" class="flip-link btn btn-info" id="to-recover">忘记密码?</a>
            </span>
            <span class="pull-right">
                <a type="button" id="submit" href="javascript:void(0);" class="btn btn-success" /> 登录</a>
            </span>
        </div>

    </form>
    <form id="recoverform" action="#" class="form-vertical">
        <p class="normal_text">请输入正确的用户名密码.</p>

        <div class="controls">
            <div class="main_input_box">
                <span class="add-on bg_lo"><i class="icon-envelope"></i></span><input type="text" placeholder="E-mail address" />
            </div>
        </div>

        <div class="form-actions">
            <span class="pull-left">
                <a href="#" class="flip-link btn btn-success" id="to-login">&laquo; 返回登录</a>
            </span>
            <span class="pull-right">
                <a class="btn btn-info"/>发送邮件</a>
            </span>
        </div>
    </form>
</div>
{/block}




