<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {block name="meta"}{/block}
    <title>
        {block name="title"}
            MistCMS
        {/block}
    </title>

    {* 通用样式表和js *}
    <link rel="stylesheet" href="{$smarty.const.URL_PUBLIC_PATH}/css/mist.css" />
    <script src="{$smarty.const.URL_PUBLIC_PATH}/js/mist.js"></script>

    {* css js 导入文件 *}
    {block name="import"}{/block}
</head>
<body>

{block name="header"}{/block}

{block name="body"}{/block}

{block name="footer"}{/block}

</body>
</html>