<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {if isset($page_title)}
            {$title}
        {else}
            MistCMS
        {/if}
    </title>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- The styles -->
    <link href="{$smarty.const.URL_PUBLIC_PATH}/charisma/css/bootstrap-cerulean.min.css" rel="stylesheet" />
    <link href="{$smarty.const.URL_PUBLIC_PATH}/charisma/css/charisma-app.css" rel="stylesheet">

    <link href='{$smarty.const.URL_PUBLIC_PATH}/charisma/bower_components/fullcalendar/dist/fullcalendar.css' rel='stylesheet'>
    <link href='{$smarty.const.URL_PUBLIC_PATH}/charisma/bower_components/fullcalendar/dist/fullcalendar.print.css' rel='stylesheet' media='print'>
    <link href='{$smarty.const.URL_PUBLIC_PATH}/charisma/bower_components/chosen/chosen.min.css' rel='stylesheet'>
    <link href='{$smarty.const.URL_PUBLIC_PATH}/charisma/bower_components/colorbox/example3/colorbox.css' rel='stylesheet'>
    <link href='{$smarty.const.URL_PUBLIC_PATH}/charisma/bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
    <link href='{$smarty.const.URL_PUBLIC_PATH}/charisma/bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' rel='stylesheet'>
    <link href='{$smarty.const.URL_PUBLIC_PATH}/charisma/css/jquery.noty.css' rel='stylesheet'>
    <link href='{$smarty.const.URL_PUBLIC_PATH}/charisma/css/noty_theme_default.css' rel='stylesheet'>
    <link href='{$smarty.const.URL_PUBLIC_PATH}/charisma/css/elfinder.min.css' rel='stylesheet'>
    <link href='{$smarty.const.URL_PUBLIC_PATH}/charisma/css/elfinder.theme.css' rel='stylesheet'>
    <link href='{$smarty.const.URL_PUBLIC_PATH}/charisma/css/jquery.iphone.toggle.css' rel='stylesheet'>
    <link href='{$smarty.const.URL_PUBLIC_PATH}/charisma/css/uploadify.css' rel='stylesheet'>
    <link href='{$smarty.const.URL_PUBLIC_PATH}/charisma/css/animate.min.css' rel='stylesheet'>

    <!-- jQuery and Bootstrap JavaScript File -->
    <script src="{$smarty.const.URL_PUBLIC_PATH}/js/jquery.min.js"></script>
    <script src="{$smarty.const.URL_PUBLIC_PATH}/charisma/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- library for cookie management -->
    <script src="{$smarty.const.URL_PUBLIC_PATH}/charisma/js/jquery.cookie.js"></script>
    <!-- calender plugin -->
    <script src='{$smarty.const.URL_PUBLIC_PATH}/charisma/bower_components/moment/min/moment.min.js'></script>
    <script src='{$smarty.const.URL_PUBLIC_PATH}/charisma/bower_components/fullcalendar/dist/fullcalendar.min.js'></script>
    <!-- data table plugin -->
    <script src='{$smarty.const.URL_PUBLIC_PATH}/charisma/js/jquery.dataTables.min.js'></script>
    <!-- select or dropdown enhancer -->
    <script src="{$smarty.const.URL_PUBLIC_PATH}/charisma/bower_components/chosen/chosen.jquery.min.js"></script>
    <!-- plugin for gallery image view -->
    <script src="{$smarty.const.URL_PUBLIC_PATH}/charisma/bower_components/colorbox/jquery.colorbox-min.js"></script>
    <!-- notification plugin -->
    <script src="{$smarty.const.URL_PUBLIC_PATH}/charisma/js/jquery.noty.js"></script>
    <!-- library for making tables responsive -->
    <script src="{$smarty.const.URL_PUBLIC_PATH}/charisma/bower_components/responsive-tables/responsive-tables.js"></script>
    <!-- tour plugin -->
    <script src="{$smarty.const.URL_PUBLIC_PATH}/charisma/bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
    <!-- star rating plugin -->
    <script src="{$smarty.const.URL_PUBLIC_PATH}/charisma/js/jquery.raty.min.js"></script>
    <!-- for iOS style toggle switch -->
    <script src="{$smarty.const.URL_PUBLIC_PATH}/charisma/js/jquery.iphone.toggle.js"></script>
    <!-- autogrowing textarea plugin -->
    <script src="{$smarty.const.URL_PUBLIC_PATH}/charisma/js/jquery.autogrow-textarea.js"></script>
    <!-- multiple file upload plugin -->
    <script src="{$smarty.const.URL_PUBLIC_PATH}/charisma/js/jquery.uploadify-3.1.min.js"></script>
    <!-- history.js for cross-browser state change on ajax -->
    <script src="{$smarty.const.URL_PUBLIC_PATH}/charisma/js/jquery.history.js"></script>


    <!-- application script for Charisma demo -->
    <script src="{$smarty.const.URL_PUBLIC_PATH}/charisma/js/charisma.js"></script>

    <!-- 引入基础掩饰文件 -->
    <link href="{$smarty.const.URL_PUBLIC_PATH}/css/modules/admin/base.css" rel="stylesheet" />
    <script src="{$smarty.const.URL_PUBLIC_PATH}/js/modules/admin/base.js"></script>
    {block name="import"}{/block}

</head>
<body>

{block name="body"}{/block}

</body>
</html>
